
<div class="header-first">
  <div>

    <div class="header-welcome-info">
      Welcome to our store , Log In or Create Account
    </div>

    <div class="header-settings">

      <div class="header-language ">
        <div class="language-title h-full flex flex-col justify-center">
         <span>
           Language : ENG <i class="fa-solid fa-chevron-down"></i>
         </span>
        </div>
        <div class="list-overlay">
          <div>English</div>
          <div>Arabic</div>
          <div>French</div>
          <div>Spanish</div>
          <div>Italian</div>
        </div>
      </div>

      <div class="settings-separator"></div>

      <div class="header-currency">
        <div class="currency-title h-full flex flex-col justify-center">
          <span>
            Currency : USD <i class="fa-solid fa-chevron-down"></i>
          </span>
        </div>
        <div class="list-overlay">
          <div>
            USD - US Dollar
          </div>
          <div>
            EUR - Euro
          </div>
          <div>
            GBP - British Pound
          </div>
          <div>
            INR - Indian Rupee
          </div>
          <div>
            BDT - Bangladesh Taka
          </div>
          <div>
            JPY - Japan Yen
          </div>
          <div>
            CAD - Canada Dollar
          </div>
          <div>
            AUD - Australian Dollar
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-second">
  <div>

    <div class="header-brand-title">
       <h1>
         Decora
       </h1>
    </div>

    <div class="header-actions">
      <i class="fa-solid fa-magnifying-glass"></i>
      <div class="actions-separator"></div>
      <i class="fa-regular fa-user"></i>
      <div class="actions-separator"></div>
      <i class="fa-solid fa-bag-shopping"></i>
    </div>
  </div>
</div>

